.like-item{
    border:1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #fff;
    padding:16px 20px 0;
    margin-left:10px;
    h4{
        font-size:16px;
        line-height: 22px;
        margin:0 0 16px;
        color:#333;
    }
    img{
        height:106px;
        width:188px;
        border-radius: 4px;
    }
    .name{
        font-size:14px;
        line-height:20px;
        color:#222;
        margin:10px 0 4px;
    }
    .price{
        font-size:22px;
        color:#f60;
        line-height:27px;
    }
    .desc{
        font-size: 12px;
        line-height:17px;
        color:#999;
    }
}