.page-login{
    .login-header {
      position: relative;
      width: 980px;
      height: auto;
      margin: 40px auto 30px;
      .logo {
        // background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-retina.b95a7dd.png);
        // background-position: 0 !important;
        // background-size: contain !important;
        // width: 82px;
        // height: 54px;
        // display: block;
        width:126px;
        height:46px;
        border:0;
      }
    }
    .login-panel {
      margin: 0 auto 70px;
      width: 980px;
      display: flex;
      .banner {
        margin-right: 115px;
      }
      .form {
        display: flex;
        flex-direction: column;
        width: 270px;
        .phone{
          float:right;
          color:#333;
          font-weight:400;
          font-size:12px;
          vertical-align: bottom;
          .phonelogo{
            vertical-align: middle;
          }
        }
        .tips {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid #f5d8a7;
          border-radius: 2px;
          background: #fff6db;
          font-size: 12px;
          padding-left: 26px;
          >i {
            position: relative;
            &:after {
              position: absolute;
              display: inline-block;
              width: 17px;
              height: 17px;
              font-family: iconfont;
              font-style: normal;
              content: "\e64d";
              font-size: 28px;
              top: -9px;
              left: -24px;
            }
          }
        }
        em {
          font-style: normal;
          float: right;
        }
        .reg {
          padding-top: 10px;
          font-size: 14px;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .oauth-wrapper {
            margin-top: 20px;
            .title-wrapper {
              position: relative;
              margin-bottom: 30px;
              border-bottom: 1px solid #CCC;
              width: 100%;
              height: 0;
              overflow: visible;
              .title {
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -75px;
                width: 150px;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                color: #666;
                background: #FFF;
              }
            }
            .oauth {
              padding-left: 88px;
            }
            .oauth__link {
              float: left;
              margin-right: 20px;
              width: 18px;
              height: 18px;
              background-position: -1250px -491px;
              background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
            }
            .oauth__link--weibo {
              width: 18px;
              height: 18px;
              background-position: -1250px -599px;
              background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
            }
           
        }

      }

      .el-input {
        margin-top: 10px;
      }

      .foot {
        margin-top: 10px;
        font-size: 12px;
        a {
          float: right;
          text-decoration: none;
        }

      }
      .error {
        input {
          border-color: red;
        }
      }
      .el-input__icon {
        &.profile {
          &:after {
            font-family: iconfont;
            content: "\e627";
            font-style: normal;
            top: -1px;
            left: 5px;
            position: absolute;
          }
        }

        &.password {
          &:after {
            font-family: iconfont;
            content: "\E600";
            font-style: normal;
            top: -1px;
            left: 3px;
            position: absolute;
            font-size: 18px;
          }
        }
      }

      .btn-login {
        margin-top: 10px;
        color: #000;
        background-image: linear-gradient(135deg,#FFD000 0,#FFBD00 100%);
        border: none;
        padding: 12px 15px;
        span{
          font-weight:bold;
        }
      }
    }
    footer {
      width: 980px;
      margin: 0 auto 30px;
      text-align: left;
      ul {
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 12px 0;
        color: #ddd;
        li {
          display: inline-block;
          font-size: 13px;
          text-align: center;
          &:not(:last-child) {
            border-right: 1px solid #eee;
          }
          a {
            font-size: 13px;
            color: #999;
            &:hover {
              text-decoration: underline;
            }
            padding-right: 10px;
            &:not(.first) {
              padding-left: 10px;
            }
          }
          
        }
      }
      >p {
        margin: 10px 0;
        font-size: 13px;
        color: #999;
      }
    }
}
